<div class="row justify-content-center">
  <%= form_with model: product do |form| %>
    <div class="w-50 pb-3">
      <%= form.label :name %><br>
      <%= form.text_field :name, class: 'form-control' %>
      <% product.errors.full_messages_for(:name).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    </div>

    <div class="w-50 pb-3">
      <%= form.label :description %><br>
      <%= form.text_area :description, class: 'form-control' %>
      <% product.errors.full_messages_for(:description).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    </div>

    <div class="w-50 pb-3">
      <%= form.label :price %><br>
      <%= form.number_field :price, step: 0.01, class: 'form-control' %>
      <% product.errors.full_messages_for(:price).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    </div>

    <div class="w-50 pb-3">
      <%= form.label :quantity %><br>
      <%= form.number_field :quantity, class: 'form-control' %>
      <% product.errors.full_messages_for(:quantity).each do |message| %>
        <div class="text-danger"><%= message %></div>
      <% end %>
    </div>

    <div class="w-25 pb-3">
      <%= form.submit class: 'form-control btn-primary'%>
    </div>
  <% end %>
</div>